@using MyData.Models
@model IterationsVM
@{
    ViewBag.Title = "Итерации";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Итерации</h2>

<p>@Html.ActionLink("Создать итерацию", "CreateIteration", "Iterations", new { }, new { @class = "dialog-create" })</p>

@{Html.RenderPartial("_Table", new TableVM(Model.Iterations));}
