
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}
@section css {
    <link href="~/Content/Pages/Lern.css" rel="stylesheet">
}

<div class="container">
    <div id="lernTest">
        <div class="question">
            <pre id="editor"></pre>
        </div>
        <div class="message"></div>
        <div class="answers"></div>
    </div>
</div>


@section scripts {
<script src="~/JS/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="~/JS/as.ace.js" type="text/javascript" charset="utf-8"></script>
<script src="~/JS/Lern/lern.test.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    var optTest = {
        elEditor: "editor", elMessage: "#lernTest .message", elAnswers: "#lernTest .answers",
        urlCheckAnswer: "@Url.Action("CheckAnswerTest")", ttt: NextQuestion
    };
    var lernTest = lern.test.init(optTest);

    function NextQuestion() {
        var url = "@Url.Action("NextQuestion")";
        $.ajax({ type: "POST", url: url,
            success: function (response) {
                console.log(response);
                lernTest.showQuestion(response);
            }
        });
    }

    $(function () {
        NextQuestion();
    });
</script>
}